.card {

    background-color: pink;
    margin: 1%;
    padding: 1%;
    width: 300px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.true {

    color: green;
}

.false {

    color: red;
}