.card {

    background-color: pink;
    width: 300px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.true {

    color: green;
}

.false {

    color: red;
}

.cardModal {

    background-color: pink;
    width: 300px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 1%;
    position: absolute;
    z-index: 999;
}